@using Meep.Tech.Collections.Generic
@using Xbam.Inspector.Data

<div class="card-container @(!IsExpanded ? "closed" : "")">
    <div 
        class="card @(!IsExpanded ? "closed" : "")" 
        style="background-color: @(CurrentMainColor);">
        <nav 
            class="navbar navbar-expand-lg navbar-dark justify-content-between" 
            style="min-width:300px;height:35px;background-color:@(CurrentMainColor);">
            <span class="navbar-brand mb-0 h1" style="margin-left:10px">@Title</span>
            <button
                title="Toggle Expanded"
                @onclick=@(() => ToggleExpanded())
                style="background-color:@(CurrentMainColor);color:white;width:30px;height:30px;">
                @ExpandToggleSymbol</button>
        </nav>
        @if(IsExpanded) {
            <div
                class="card-content" 
                style="overflow:auto;color:white;min-width:300px;min-height:200px;background-color:#222222;padding:5px">
                @ChildContent
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public virtual CardData State { 
        get; 
        set;
    }

    [Parameter]
    public RenderFragment ChildContent {
        get;
        set; 
    }

    [Parameter, EditorRequired]
    public string Title {
        get;
        set; 
    }

    [Parameter]
    public bool IsExpanded {
        get => DomProvidedIsExpandedValue 
            ?? State.IsExpanded;
        init {
            DomProvidedIsExpandedValue = value;
        }
    } protected bool? DomProvidedIsExpandedValue;

    protected string ExpandToggleSymbol
        => IsExpanded 
            ? "-"
            : "+";

    protected string CurrentMainColor
        => IsExpanded ? State.Archetype.ExpandedColor : State.Archetype.CollapsedColor;

    protected void ToggleExpanded(bool? @override = null){
        State.IsExpanded = (@override ?? !IsExpanded);

        DomProvidedIsExpandedValue = null;
        StateHasChanged();
    }
}
