@using Xbam.Inspector.Data
@using Meep.Tech.Data.Utility
@using Xbam.Inspector.Pages.InspectorIndex.Tabs
@using Xbam.Inspector.Pages.InspectorIndex.Tabs.Pannels
@using Xbam.Inspector.Shared.Components
@using Xbam.Inspector.Shared.Components.Tabs

<Modal
    Title="Add Inspector Tab" 
    IsEnabled=@IsEnabled 
    Close=@Close>
    <div style="display:flex;flex-direction:row;">
        <input 
            type="text" 
            id="search" 
            class="form-control" 
            @oninput=@((ChangeEventArgs e) => _onSearchCriteriaChanged(e.Value?.ToString() ?? ""))
            disabled=@_allSearchEnabled />
        <select 
            style="width:auto;" 
            class="form-select" 
            @onchange=@((ChangeEventArgs e) => {
                _selectedTabType = InspectorTabData.Type.Get(e.Value.ToString());
                // changes and don't update the text
                _onSearchCriteriaChanged(null);
            })>
            @foreach(InspectorTabData.Type type in _tabTypes) {
                <option 
                    value=@type.ExternalId.ToString()>
                    @type.ExternalId.ToString()
                </option>
            }
        </select>
        <button 
            class="btn"
            style="color:white;background-color:@(_namespaceSearchEnabled ? "green" : "grey");"
            @onclick=@(() => {
                _namespaceSearchEnabled = !_namespaceSearchEnabled;
                // don't update the text
                _onSearchCriteriaChanged(null);
            })
            title="Include Item Namespaces In Search"
            >&NS</button>
        <button 
            class="btn"
            style="color:white;background-color:@(_abstractOrSplayedOnly ? "green" : "grey");"
            @onclick=@(() => {
                _abstractOrSplayedOnly = !_abstractOrSplayedOnly;
                // don't update the text
                _onSearchCriteriaChanged(null);
            })
            title="Abstract or Splayed Types Only"
            >AS</button>
        <button 
            class="btn"
            style="color:white;background-color:@(_allSearchEnabled ? "green" : "grey");"
            @onclick=@(() => {
                _allSearchEnabled = !_allSearchEnabled;
                // don't update the text
                _onSearchCriteriaChanged(null);
            })
            title="Show All Items"
            >All</button>
    </div>
    <div style="max-height:800px;overflow:scroll">
        @if(_resultsLoaded) {
            <ul class="list-group">
                @foreach(var tabTypeOption in _tabTypeSearchResults) {
                    <li 
                        class="list-group-item"
                        @onclick=@(() => _createOrOpenTab(tabTypeOption, _selectedTabType))
                        style=@(
                            (tabTypeOption.IsAbstract ? "font-style: italic;" : "")
                            + (Pages.Index.TabState.ContainsKey(_selectedTabType.ExternalId.ToString() + tabTypeOption.Key)
                                ? "background-color:#98FB98" 
                                : "")
                        )>
                        @if (_namespaceSearchEnabled) {
                            <span style="color:grey">
                                @(tabTypeOption.Prefix + ".")
                            </span>
                        }
                        <span style="color:black">
                            @tabTypeOption.LongNamePrefixWithoutShortNamePrefix
                        </span>
                        <span style="color:black;font-weight:bold">
                            @tabTypeOption.ShortNamePrefix
                        </span>
                        <span style="color:blue;font-weight:bold">
                            @tabTypeOption.ShortName
                        </span>
                    </li>
                }
            </ul>
        }
    </div>
</Modal>

@code {
    int _tabTypeOptionIndex = 0;
    bool _resultsLoaded, _allSearchEnabled, _resultsAreLoading, _namespaceSearchEnabled, _abstractOrSplayedOnly;
    string _searchTerm = "";
    InspectorTabData.Type _selectedTabType;
    IEnumerable<InspectorTabData.Type> _tabTypes;
    IEnumerable<TabIndexData> _tabTypeSearchResults;

    [Parameter, EditorRequired]
    public bool IsEnabled { get; set; }

    [Parameter, EditorRequired]
    public Action Close { get; set; }

    protected override void OnInitialized() {
        _tabTypes = InspectorTabData.Type.All
            .Where(t => t.ShowAsAnOptionInTheAddTabSearch)
            .OrderBy(t => t.ExternalId.ToString());
        _selectedTabType = _tabTypes.First();
        _tabTypeSearchResults = Enumerable.Empty<TabIndexData>();
        base.OnInitialized();
    }

    /// <summary>
    /// Passing in null does not update the search text. passing in empty does
    /// </summary>
    void _onSearchCriteriaChanged(string newText) {
        _searchTerm = newText ?? _searchTerm;
        _resultsLoaded = false;
        StateHasChanged();
        if (!_allSearchEnabled && string.IsNullOrWhiteSpace(_searchTerm))
        {
            _resultsAreLoading = false;
            return;
        }
        else {
            _resultsAreLoading = true;
            StateHasChanged();

            _tabTypeSearchResults 
                = _selectedTabType.GetTabItemTypes(
                    _allSearchEnabled ? null : _searchTerm,
                    _namespaceSearchEnabled,
                    _abstractOrSplayedOnly
                );

            _resultsAreLoading = false;
            _resultsLoaded = true;
            StateHasChanged();
        }
    }   

    void _createOrOpenTab(TabIndexData tab, InspectorTabData.Type type) {
        string tabId = type.ExternalId.ToString() + tab.Key;
        if (Xbam.Inspector.Pages.Index.TabState.ContainsKey(tabId)) {
            Xbam.Inspector.Pages.Index.InspectorTabs.ActivatePage(
                Xbam.Inspector.Pages.Index.InspectorTabs.Pages.First(p => (p as InspectorTypeFamilyPannel)?.Id == tabId)
            );
            Close();
            Xbam.Inspector.Pages.Index.InspectorTabs._stateHasChanged();
            return;
        }

        Pages.Index.InspectorTabs.AddInspectorTab(new() {
            Tab = tab,
            TabType = type
        });
    }
}